## Ignore Visual Studio temporary files
## User-specific files
*.suo
*.user
*.sln.docstates
*.jtconfig
**/.vs/
**/obj/
**/bin/

############################
## My Excludes #############
############################
*.info/
*.nuget/

source/[Oo]utput/
source/packages/
**/[Tt]est[Rr]esults/

## Temporary Excludes ##
source/Golden.Tests/Golden.Data.Generator.Tests.cs
source/Golden.Data.Generator/
source/Golden.Data.Generator.GUI/
/source/Golden.Win/readme.txt
